/* Import the custom fonts */
@import './fonts.css';

/* Apply the custom font to specific elements */
body {
  font-family: 'jgs', sans-serif;
}

.app {
  text-align: center;
  font-family: 'jgs', sans-serif;
  position: relative;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; /* Hide overflowing background */
  background-size: cover; /* Cover the entire element */
  background-attachment: fixed; /* Keep the background fixed while scrolling */

}

.app::before {
  content: '';
  position: absolute;
  top: -100vh;
  left: -250vw;
  right: -250vw;
  bottom: -100vh;
  background: radial-gradient(ellipse, rgba(255, 107, 107, 0.7), #FCCF91 40%, rgb(16, 0, 156) 70%);
  background-size: 500% 500%; /* Initial background size */
  animation: moveBackground 50s linear infinite;
  z-index: -1;
  background-attachment: fixed;
}

@keyframes moveBackground {
  0% {
    background-size: 100% 100%; /* Start position */
    transform: rotate(0deg); /* Initial rotation */
  }
  25% {
    background-size: 150% 150%; /* Intermediate size */
    transform: rotate(180deg); /* Rotate halfway */
  }
  50% {
    background-size: 100% 100%; /* Back to initial size */
    transform: rotate(360deg); /* Full rotation */
  }
  75% {
    background-size: 150% 150%; /* Intermediate size */
    transform: rotate(540deg); /* Rotate halfway */
  }
  100% {
    background-size: 100% 100%; /* Start position */
    transform: rotate(720deg); /* Two full rotations */
  }
}

/* Rest of your existing CSS styles... */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
