.ascii-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem; /* Adjust spacing from top */
  }
  
  .ascii-body {
    width: fit-content;
    padding: 1rem; /* Adjust padding as needed */
    font-family: monospace;
    font-size: 8px;
    color: white;
    background-color: black;
    white-space: pre;
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  }

  .loading {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; /* Add margin top for spacing */
  }
  
  .loading img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 600px) {
    .ascii-body {
      font-size: 3px;
    }
  
    .loading {
      font-size: 4vw;
    }
  }
  
  @media (max-width: 400px) {
    .ascii-body {
      font-size: 2px;
    }
  
    .loading {
      font-size: 3vw;
    }
  }
  