/* General styles */
.experience-page {
  font-family: 'roboto', sans-serif;
  padding: 4rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures full viewport height */
  background-color: black;
  margin-bottom: 5%;
}

.experience-text {
  font-size: 2.5vw;
  line-height: 1.5;
  color: white;
  opacity: 0; /* Start hidden for fade-in effect */
  transition: opacity 1s ease-in-out;
}

.experience-text.visible {
  opacity: 1; /* Fade-in effect */
}

.experience-text a {
  color: white;
  border-bottom: 1px solid inherit;
  padding-bottom: 0;
}

.experience-text a:hover {
  border-bottom-color: #9aadc2;
  color: #91bdec;
  transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .experience-text {
    font-size: 4vw;
  }
}
