.experience-item {
  /*
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 35px;
    line-height: 1.75; /* Set a consistent line height for text */
  }
  
  .experience-title {
    font-size: 20px;
  }
  
  .experience-date {
    font-style: italic;
  }
  
  .responsibilities {
    font-size: 16px;
  }
  