/* src/styles/fonts.css */

/* Import the font files using relative paths */
@font-face {
    font-family: 'jgs';
    src: url('../fonts/jgs5.ttf') format('truetype');
    /* Add more src lines for different font formats (e.g., woff, woff2) */
  }
@font-face {
  font-family: 'jgs-bold';
  src: url('../fonts/jgs7.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'abordage';
  src: url('../fonts/Abordage-Regular.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'basalte-fond';
src: url('../fonts/Basalte-Fond.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'basalte-multicolor';
  src: url('../fonts/Basalte-Multicolor.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'basalte-volume';
src: url('../fonts/Basalte-Volume.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'director-bold';
  src: url('../fonts/Director-bold.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'director-light';
src: url('../fonts/Director-Light.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'director-regular';
  src: url('../fonts/Director-Regular.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'director-variable';
src: url('../fonts/Director-Variable.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'equateur';
  src: url('../fonts/Equateur-Regular.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'ft88-bold';
src: url('../fonts/FT88-Bold.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'ft88-expanded';
  src: url('../fonts/FT88-Expanded.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'ft88-gothique';
src: url('../fonts/FT88-Gothique.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'ft88-italic';
src: url('../fonts/FT88-Italic.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'ft88';
  src: url('../fonts/FT88-Regular.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'ft88-school';
src: url('../fonts/FT88-School.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'ft88-serif';
  src: url('../fonts/FT88-Serif.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
font-family: 'latitude';
src: url('../fonts/Latitude-Regular.ttf') format('truetype');
/* Add more src lines for different font formats (e.g., woff, woff2) */
}
@font-face {
  font-family: 'louise';
  src: url('../fonts/Louise-Regular.ttf') format('truetype');
  /* Add more src lines for different font formats (e.g., woff, woff2) */
  }
  