@import './fonts.css';

.footer-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
  }
  
  .banner-content {
    font-family: 'ft88-school';
    display: flex;
    white-space: nowrap;
    animation: scrollBanner 30s linear infinite;
  }
  
  .banner-content span {
    display: inline-block;
    padding: 10px 20px;
  }
  
  @keyframes scrollBanner {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  