/* Header container styles */
.header {
  font-size: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
  z-index: 1000; /* Ensure header is above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

/* Navigation links */
.nav {
  display: flex;
  gap: 2vw;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 1rem; /* Padding around each link */
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}

.nav-item:hover {
  transform: translateY(-3px); /* Move link up on hover */
}

/* Contact button */
.contact-button {
  margin-right: 5%;
}

.button {
  padding: 2% 4%; /* Use percentage for padding */
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 30px; /* Set a larger border radius for a round oval */
  transition: background-color 0.3s ease-in-out; /* Add a transition effect for hover */
  border: none; /* Remove the border */
}

.button:hover {
  background-color: #555;
}

/* Hidden state */
.hidden {
  top: -100px; /* Slide header out of view */
}
