@import './fonts.css';
@import './App.css';
@import './Ascii.css';
@import './ContactForm.css';
@import './About.css';
@import './ExperienceItem.css';
@import './FooterBanner.css';
@import './Header.css';
@import './HeroSection.css';
@import './Sample.css';
@import './Wip.css';
@import './tailwind.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
