.wip-container {
    text-align: center; /* Maintain horizontal centering */
    min-height: 100vh; /* Optional: Set minimum height for viewport coverage */
    margin-top: 20%; /* Add space at the top (adjust as needed) */
  }
  
  
  .wip-text {
    font-family: 'bzd-bubble', sans-serif;
    font-size: 5rem; /* Adjust font size as desired */
    color: #656565; /* Text color (optional) */
  }
  
  .wip-text span { /* Styling for the blinking cursor */
    animation: blink 500ms steps(1, none) infinite; /* Adjust blinking speed if needed */
  }
  
  @keyframes blink {
    from, to { visibility: hidden; }
    50% { visibility: visible; }
  }
  